.filters {
    &__title {
        color: #030B1C;
        font-weight: bold;
        font-size: 20px;
    }
    &__subtitle {
        background-color: #E4E8EE;
        color: #030B1C;
        font-weight: bold;
        font-size: 16px;
        padding: 5px 16px;
        margin: 5px 0;
    }
    &__item {
        color: #030B1C;
        font-size: 16px;
        padding: 3px 16px;
        cursor: pointer;
        &:hover {
            background-color: #e4e8ee7d;
        }
    }
}
