<div class="menu menu__layout">
    <a class="menu menu__close" (click)="emitOnMenu()">&times;</a>

    <div class="menu menu__links">
        <a class="menu menu__link">sale</a>
        <a class="menu menu__link">e-shop</a>
        <a class="menu menu__link">lookbook</a>
        <a class="menu menu__link">campaña</a>
        <a class="menu menu__link">locales</a>
    </div>

    <div class="menu menu__divider">
    </div>

    <div class="menu menu__filters">
        <app-filters></app-filters>
    </div>
</div>